.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  gap: 100px;
}
.leftAbout{
  display: flex;
  flex-direction: column;
}
.rightAbout{
  position: relative;
}
.aboutBody{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 40px;
}
.aboutBody h1{
  color: rgb(5, 5, 20);
}
.aboutBody button{
  width: 220px;
  height: 60px;
  font-size: 19px;
  transition: 0.3s;
}
.aboutBody button:hover {
  transform: translateX(4px);
}


@media (min-width: 1100px) {
  .about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7%;
    gap: 100px;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .header-line{
    margin-top: 20px;
  }
  .rightAbout{
    width: 100%;
  }
  .img1{
    width: 90%;
  }
}
