main {
  width: 100%;
  height: 100vh;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-top: 60px;
}
.container .contant {
  position: absolute;
  top: 35%;
}
.contant .cd-headline {
  font-size: 60px;
  font-weight: 900;
}
.btn-appoint {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .container .contant {
    top: 30%;
  }
}
@media (max-width: 500px) {
  .contant .cd-headline {
    font-size: 40px;
    font-weight: 800;
  }
}
